[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xmodmap
Comment=keys for great justice
Exec=/usr/bin/xmodmap /home/{{ user_name }}/.xmodmaprc
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

